@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Web3 Feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

body {
  @apply bg-slate-950 text-slate-200;
}